<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>myservlet</servlet-name>
    <servlet-class>controleur.GetallclasseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet</servlet-name>
    <url-pattern>*.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>infoetudiant</servlet-name>
    <servlet-class>controleur.GetInfoEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoetudiant</servlet-name>
    <url-pattern>/infoetudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>infoenseignant</servlet-name>
    <servlet-class>controleur.GetInfoensegiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoenseignant</servlet-name>
    <url-pattern>/infoenseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>infoclub</servlet-name>
    <servlet-class>controleur.GetInfoClub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoclub</servlet-name>
    <url-pattern>/infoclub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcour</servlet-name>
    <servlet-class>controleur.AddCour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcour</servlet-name>
    <url-pattern>/addcour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addsujet</servlet-name>
    <servlet-class>controleur.AddSujet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addsujet</servlet-name>
    <url-pattern>/addsujet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addnote</servlet-name>
    <servlet-class>controleur.AddNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnote</servlet-name>
    <url-pattern>/addnote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcomantaire</servlet-name>
    <servlet-class>controleur.AddComantaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcomantaire</servlet-name>
    <url-pattern>/addcomantaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginetudiantservlet</servlet-name>
    <servlet-class>controleur.LoginEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginetudiantservlet</servlet-name>
    <url-pattern>/loginetudiantservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>controleur.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexservlet</servlet-name>
    <servlet-class>controleur.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexservlet</servlet-name>
    <url-pattern>/indexservlet</url-pattern>
  </servlet-mapping>
  <servlet>
 
    <servlet-name>getalletudiantenseignant</servlet-name>
    <servlet-class>controleur.GetAllEtudiantEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getalletudiantenseignant</servlet-name>
    <url-pattern>/getalletudiantenseignant</url-pattern>
  </servlet-mapping>
</web-app>